COADPORTAL/Service References/ServiceReference1/CoadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" />
  <xs:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" />
  <xs:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService.ClienteIntegracao" />
  <xs:element name="ValidarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" minOccurs="0" name="composite" nillable="true" type="q1:DadosPedidoIntegracaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" minOccurs="0" name="GerarPedidoResult" nillable="true" type="q2:DadosPedidoIntegracaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LembrarSenha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numAssinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cliId" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LembrarSenhaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LembrarSenhaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" minOccurs="0" name="dadospagamento" nillable="true" type="q3:CartaoIntegracaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckoutPagamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirPedidoRenovacaoDaMala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroAssinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorPedido" type="xs:decimal" />
        <xs:element minOccurs="0" name="qtdParcelas" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirPedidoRenovacaoDaMalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="EmitirPedidoRenovacaoDaMalaResult" nillable="true" type="q4:RenovacaoMalaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encodecode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="RealizarLoginResult" nillable="true" type="q5:LoginUnicoResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarDadosDoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroAssinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarDadosDoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService.ClienteIntegracao" minOccurs="0" name="RetornarDadosDoClienteResult" nillable="true" type="q6:ClienteIntegrResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosDoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService.ClienteIntegracao" minOccurs="0" name="cliente" nillable="true" type="q7:ClienteIntegrDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosDoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="SalvarDadosDoClienteResult" nillable="true" type="q8:ValidatorWebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="BuscarCepResult" nillable="true" type="q9:BuscarCEPResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="BuscarMunicipiosResult" nillable="true" type="q10:BuscarMunicipioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMunicipiosPorCodIBGE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codIBGE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMunicipiosPorCodIBGEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="BuscarMunicipiosPorCodIBGEResult" nillable="true" type="q11:BuscarMunicipioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposDeCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposDeClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons.WebService" minOccurs="0" name="ListarTiposDeClienteResult" nillable="true" type="q12:TipoClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>