COAD.PROXY/Service References/ServiceReference1/CoadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" />
  <xs:element name="ValidarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" minOccurs="0" name="composite" nillable="true" type="q1:DadosPedidoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" minOccurs="0" name="GerarPedidoResult" nillable="true" type="q2:DadosPedidoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LembrarSenha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numAssinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cliId" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LembrarSenhaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LembrarSenhaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>