COAD.PROXY/Service References/ServiceReference1/CoadService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:48701/CoadService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:48701/CoadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COAD.CORPORATIVO.Model.Dto.Custons" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoadService_ValidarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCliente" />
  </wsdl:message>
  <wsdl:message name="ICoadService_ValidarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICoadService_GerarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarPedido" />
  </wsdl:message>
  <wsdl:message name="ICoadService_GerarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="ICoadService_LembrarSenha_InputMessage">
    <wsdl:part name="parameters" element="tns:LembrarSenha" />
  </wsdl:message>
  <wsdl:message name="ICoadService_LembrarSenha_OutputMessage">
    <wsdl:part name="parameters" element="tns:LembrarSenhaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoadService">
    <wsdl:operation name="ValidarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoadService/ValidarCliente" message="tns:ICoadService_ValidarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoadService/ValidarClienteResponse" message="tns:ICoadService_ValidarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoadService/GerarPedido" message="tns:ICoadService_GerarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoadService/GerarPedidoResponse" message="tns:ICoadService_GerarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LembrarSenha">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoadService/LembrarSenha" message="tns:ICoadService_LembrarSenha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoadService/LembrarSenhaResponse" message="tns:ICoadService_LembrarSenha_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoadService" type="tns:ICoadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCliente">
      <soap:operation soapAction="http://tempuri.org/ICoadService/ValidarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap:operation soapAction="http://tempuri.org/ICoadService/GerarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LembrarSenha">
      <soap:operation soapAction="http://tempuri.org/ICoadService/LembrarSenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoadService">
    <wsdl:port name="BasicHttpBinding_ICoadService" binding="tns:BasicHttpBinding_ICoadService">
      <soap:address location="http://localhost:48701/CoadService.svc" />
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_ICoadService" binding="i0:MetadataExchangeHttpBinding_ICoadService">
      <soap12:address location="http://localhost:48701/CoadService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:48701/CoadService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>